<div class="mt-4">
  <h3>Create a new course</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Course name</label>
      <input class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Course description</label>
      <input
    
        class="form-control"
        id="description"
        name="description"
      />
    </div>
 <div class="mb-3">
      <label for="videoId" class="form-label">Course videoId</label>
      <input
    
        class="form-control"
        id="videoId"
        name="videoId"
      />
    </div>
     <div class="mb-3">
      <label for="slug" class="form-label">Course slug</label>
      <input
    
        class="form-control"
        id="slug"
        name="slug"
      />
    </div>
     <div class="mb-3">
      <label for="category" class="form-label">Course category</label>
      <input
    
        class="form-control"
        id="category"
        name="category"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>