<div class="mt-5">
  <form method="post" action="">
    <div class="mb-3">
      <label for="searchInput" class="form-label">Type in what you want to search: </label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="searchInput"
        placeholder="fuck bitches"
      />
    </div>

    <div class="mb-4">
      <label for="genderSelection" class="gs-label">Choose your own gender: </label>
      <select name="genderSelection" id="genderSelection" >
        <option value="default">You shouldn't know</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>